templates/updating-record/via-literal-value/Updating-Record-Literal_Value.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>dc8f7c00-0181-1000-6387-68b5c62f9c61</groupId>
    <name>Updating Record - Literal Value</name>
    <snippet>
        <connections>
            <id>504948a1-187c-3525-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>155df14e-4c5b-340a-0000-000000000000</groupId>
                <id>3c9d25f8-cf0d-3e3a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>155df14e-4c5b-340a-0000-000000000000</groupId>
                <id>fa532144-5105-378c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6460e260-34d9-3d47-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1104.4357998883224</x>
                <y>184.39739378191007</y>
            </bends>
            <destination>
                <groupId>155df14e-4c5b-340a-0000-000000000000</groupId>
                <id>3c9d25f8-cf0d-3e3a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>155df14e-4c5b-340a-0000-000000000000</groupId>
                <id>fa532144-5105-378c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>eae493c4-9e2b-3f8d-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>155df14e-4c5b-340a-0000-000000000000</groupId>
                <id>fa532144-5105-378c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>155df14e-4c5b-340a-0000-000000000000</groupId>
                <id>9202865c-3e2b-3ce8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>6ec72122-239b-3935-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>fe516435-4850-3cb4-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>full-schema-attribute</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processors>
            <id>3c9d25f8-cf0d-3e3a-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <position>
                <x>664.0</x>
                <y>248.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>9202865c-3e2b-3ce8-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>[ {
  "id" : 6523,
  "ident" : "00A",
  "type" : "heliport",
  "name" : "Total Rf Heliport",
  "latitude_deg" : 40.0708,
  "longitude_deg" : -74.93360137939453,
  "elevation_ft" : 11,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-PA",
  "municipality" : "Bensalem",
  "scheduled_service" : "no",
  "gps_code" : "00A",
  "iata_code" : null,
  "local_code" : "00A",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 323361,
  "ident" : "00AA",
  "type" : "small_airport",
  "name" : "Aero B Ranch Airport",
  "latitude_deg" : 38.70402,
  "longitude_deg" : -101.473911,
  "elevation_ft" : 3435,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-KS",
  "municipality" : "Leoti",
  "scheduled_service" : "no",
  "gps_code" : "00AA",
  "iata_code" : null,
  "local_code" : "00AA",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6524,
  "ident" : "00AK",
  "type" : "small_airport",
  "name" : "Lowell Field",
  "latitude_deg" : 59.947735,
  "longitude_deg" : -151.692524,
  "elevation_ft" : 450,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-AK",
  "municipality" : "Anchor Point",
  "scheduled_service" : "no",
  "gps_code" : "00AK",
  "iata_code" : null,
  "local_code" : "00AK",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6525,
  "ident" : "00AL",
  "type" : "small_airport",
  "name" : "Epps Airpark",
  "latitude_deg" : 34.8648,
  "longitude_deg" : -86.77030181884766,
  "elevation_ft" : 820,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-AL",
  "municipality" : "Harvest",
  "scheduled_service" : "no",
  "gps_code" : "00AL",
  "iata_code" : null,
  "local_code" : "00AL",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6526,
  "ident" : "00AR",
  "type" : "closed",
  "name" : "Newport Hospital &amp; Clinic Heliport",
  "latitude_deg" : 35.6087,
  "longitude_deg" : -91.254898,
  "elevation_ft" : 237,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-AR",
  "municipality" : "Newport",
  "scheduled_service" : "no",
  "gps_code" : null,
  "iata_code" : null,
  "local_code" : null,
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : "00AR"
}, {
  "id" : 322127,
  "ident" : "00AS",
  "type" : "small_airport",
  "name" : "Fulton Airport",
  "latitude_deg" : 34.942802,
  "longitude_deg" : -97.8180194,
  "elevation_ft" : 1100,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-OK",
  "municipality" : "Alex",
  "scheduled_service" : "no",
  "gps_code" : "00AS",
  "iata_code" : null,
  "local_code" : "00AS",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6527,
  "ident" : "00AZ",
  "type" : "small_airport",
  "name" : "Cordes Airport",
  "latitude_deg" : 34.3056,
  "longitude_deg" : -112.16500091552734,
  "elevation_ft" : 3810,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-AZ",
  "municipality" : "Cordes",
  "scheduled_service" : "no",
  "gps_code" : "00AZ",
  "iata_code" : null,
  "local_code" : "00AZ",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6528,
  "ident" : "00CA",
  "type" : "small_airport",
  "name" : "Goldstone (GTS) Airport",
  "latitude_deg" : 35.35474,
  "longitude_deg" : -116.885329,
  "elevation_ft" : 3038,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-CA",
  "municipality" : "Barstow",
  "scheduled_service" : "no",
  "gps_code" : "00CA",
  "iata_code" : null,
  "local_code" : "00CA",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 324424,
  "ident" : "00CL",
  "type" : "small_airport",
  "name" : "Williams Ag Airport",
  "latitude_deg" : 39.42719,
  "longitude_deg" : -121.763427,
  "elevation_ft" : 87,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-CA",
  "municipality" : "Biggs",
  "scheduled_service" : "no",
  "gps_code" : "00CL",
  "iata_code" : null,
  "local_code" : "00CL",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 322658,
  "ident" : "00CN",
  "type" : "heliport",
  "name" : "Kitchen Creek Helibase Heliport",
  "latitude_deg" : 32.727375,
  "longitude_deg" : -116.4597417,
  "elevation_ft" : 3350,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-CA",
  "municipality" : "Pine Valley",
  "scheduled_service" : "no",
  "gps_code" : "00CN",
  "iata_code" : null,
  "local_code" : "00CN",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6529,
  "ident" : "00CO",
  "type" : "closed",
  "name" : "Cass Field",
  "latitude_deg" : 40.622204,
  "longitude_deg" : -104.344002,
  "elevation_ft" : 4830,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-CO",
  "municipality" : "Briggsdale",
  "scheduled_service" : "no",
  "gps_code" : null,
  "iata_code" : null,
  "local_code" : null,
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : "00CO"
}, {
  "id" : 6531,
  "ident" : "00FA",
  "type" : "small_airport",
  "name" : "Grass Patch Airport",
  "latitude_deg" : 28.6455,
  "longitude_deg" : -82.21900177001953,
  "elevation_ft" : 53,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-FL",
  "municipality" : "Bushnell",
  "scheduled_service" : "no",
  "gps_code" : "00FA",
  "iata_code" : null,
  "local_code" : "00FA",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6532,
  "ident" : "00FD",
  "type" : "heliport",
  "name" : "Ringhaver Heliport",
  "latitude_deg" : 28.8466,
  "longitude_deg" : -82.34539794921875,
  "elevation_ft" : 25,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-FL",
  "municipality" : "Riverview",
  "scheduled_service" : "no",
  "gps_code" : "00FD",
  "iata_code" : null,
  "local_code" : "00FD",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6533,
  "ident" : "00FL",
  "type" : "small_airport",
  "name" : "River Oak Airport",
  "latitude_deg" : 27.2309,
  "longitude_deg" : -80.96920013427734,
  "elevation_ft" : 35,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-FL",
  "municipality" : "Okeechobee",
  "scheduled_service" : "no",
  "gps_code" : "00FL",
  "iata_code" : null,
  "local_code" : "00FL",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6534,
  "ident" : "00GA",
  "type" : "small_airport",
  "name" : "Lt World Airport",
  "latitude_deg" : 33.7675,
  "longitude_deg" : -84.06829833984375,
  "elevation_ft" : 700,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-GA",
  "municipality" : "Lithonia",
  "scheduled_service" : "no",
  "gps_code" : "00GA",
  "iata_code" : null,
  "local_code" : "00GA",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6535,
  "ident" : "00GE",
  "type" : "heliport",
  "name" : "Caffrey Heliport",
  "latitude_deg" : 33.889244,
  "longitude_deg" : -84.73793,
  "elevation_ft" : 957,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-GA",
  "municipality" : "Hiram",
  "scheduled_service" : "no",
  "gps_code" : "00GE",
  "iata_code" : null,
  "local_code" : "00GE",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6536,
  "ident" : "00HI",
  "type" : "heliport",
  "name" : "Kaupulehu Heliport",
  "latitude_deg" : 19.832714,
  "longitude_deg" : -155.980233,
  "elevation_ft" : 43,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-HI",
  "municipality" : "Kailua-Kona",
  "scheduled_service" : "no",
  "gps_code" : "00HI",
  "iata_code" : null,
  "local_code" : "00HI",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6537,
  "ident" : "00ID",
  "type" : "small_airport",
  "name" : "Delta Shores Airport",
  "latitude_deg" : 48.1453,
  "longitude_deg" : -116.21399688720703,
  "elevation_ft" : 2064,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-ID",
  "municipality" : "Clark Fork",
  "scheduled_service" : "no",
  "gps_code" : "00ID",
  "iata_code" : null,
  "local_code" : "00ID",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 322581,
  "ident" : "00IG",
  "type" : "small_airport",
  "name" : "Goltl Airport",
  "latitude_deg" : 39.72403,
  "longitude_deg" : -101.395994,
  "elevation_ft" : 3359,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-KS",
  "municipality" : "McDonald",
  "scheduled_service" : "no",
  "gps_code" : "00IG",
  "iata_code" : null,
  "local_code" : "00IG",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6538,
  "ident" : "00II",
  "type" : "closed",
  "name" : "Bailey Generation Station Heliport",
  "latitude_deg" : 41.6445,
  "longitude_deg" : -87.122803,
  "elevation_ft" : 600,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-IN",
  "municipality" : "Chesterton",
  "scheduled_service" : "no",
  "gps_code" : null,
  "iata_code" : null,
  "local_code" : null,
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : "00II"
}, {
  "id" : 6539,
  "ident" : "00IL",
  "type" : "small_airport",
  "name" : "Hammer Airport",
  "latitude_deg" : 41.9784,
  "longitude_deg" : -89.5604019165039,
  "elevation_ft" : 840,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-IL",
  "municipality" : "Polo",
  "scheduled_service" : "no",
  "gps_code" : "00IL",
  "iata_code" : null,
  "local_code" : "00IL",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6540,
  "ident" : "00IN",
  "type" : "heliport",
  "name" : "St Mary Medical Center Heliport",
  "latitude_deg" : 41.5114,
  "longitude_deg" : -87.2605972290039,
  "elevation_ft" : 634,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-IN",
  "municipality" : "Hobart",
  "scheduled_service" : "no",
  "gps_code" : "00IN",
  "iata_code" : null,
  "local_code" : "00IN",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6541,
  "ident" : "00IS",
  "type" : "small_airport",
  "name" : "Hayenga's Cant Find Farms Airport",
  "latitude_deg" : 40.0256,
  "longitude_deg" : -89.1229019165039,
  "elevation_ft" : 820,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-IL",
  "municipality" : "Kings",
  "scheduled_service" : "no",
  "gps_code" : "00IS",
  "iata_code" : null,
  "local_code" : "00IS",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6542,
  "ident" : "00KS",
  "type" : "small_airport",
  "name" : "Hayden Farm Airport",
  "latitude_deg" : 38.7278,
  "longitude_deg" : -94.93049621582031,
  "elevation_ft" : 1100,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-KS",
  "municipality" : "Gardner",
  "scheduled_service" : "no",
  "gps_code" : "00KS",
  "iata_code" : null,
  "local_code" : "00KS",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6543,
  "ident" : "00KY",
  "type" : "small_airport",
  "name" : "Robbins Roost Airport",
  "latitude_deg" : 37.4094,
  "longitude_deg" : -84.61969757080078,
  "elevation_ft" : 1265,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-KY",
  "municipality" : "Stanford",
  "scheduled_service" : "no",
  "gps_code" : "00KY",
  "iata_code" : null,
  "local_code" : "00KY",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 45437,
  "ident" : "00LA",
  "type" : "heliport",
  "name" : "Shell Chemical East Site Heliport",
  "latitude_deg" : 30.191944,
  "longitude_deg" : -90.980833,
  "elevation_ft" : 15,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-LA",
  "municipality" : "Gonzales",
  "scheduled_service" : "no",
  "gps_code" : "00LA",
  "iata_code" : null,
  "local_code" : "00LA",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}, {
  "id" : 6544,
  "ident" : "00LL",
  "type" : "heliport",
  "name" : "Ac &amp; R Components Heliport",
  "latitude_deg" : 39.6653,
  "longitude_deg" : -89.70559692382812,
  "elevation_ft" : 600,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-IL",
  "municipality" : "Chatham",
  "scheduled_service" : "no",
  "gps_code" : "00LL",
  "iata_code" : null,
  "local_code" : "00LL",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
} ]</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>fa532144-5105-378c-0000-000000000000</id>
            <parentGroupId>155df14e-4c5b-340a-0000-000000000000</parentGroupId>
            <position>
                <x>664.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>
                            <name>replacement-value-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/continent</key>
                        <value>
                            <name>/continent</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>6ec72122-239b-3935-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>fe516435-4850-3cb4-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>literal-value</value>
                    </entry>
                    <entry>
                        <key>/continent</key>
                        <value>North America</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
        </processors>
    </snippet>
    <timestamp>07/08/2022 16:20:59 IST</timestamp>
</template>
